body{
  margin: 0px 37px 0px 37px;
}

#summary {
  background: url("../Img/Gakumasu_Img/ことねプロフ.png") repeat;    
}

h1 {
    color:red;
    font-family: "Meiryo";
    font-weight: bold;
}

h2 {
  padding: 0px 0px 0px 50px;
  color:red;
}

h2 .produce {
  position: center;
}

#gakumasu {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

video {
  display: block;
}

.aicon {
  position: absolute;
}

.chara {
  flex-direction: row;
  display: flex;
}

.btn {
  padding: 0.4%;
  margin: 0.4%;
}

#charactor {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.prof {
  padding: 0px 5px 0px 0px;
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.profpicture {
  padding: 5px 500px 5px 500px;
}