body {
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color:white;
    font-size: 200%;
    background-color: red;
    padding-left: 1%;
}

#content {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

p {
    padding: 1px;
    background-color:;
    border: 2px solid black;
}

#controler {
    margin: 10%;
}

#game {
    margin: 20px;
    padding: 20px;
}