h1 {
    color:red;
    font-size: 200%;

}

#content {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

#controler {
    padding: 10px;
    border-color: black;
    border: 5px;
}